html, body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
header{
    display: flex;
    margin-top: 10px;
}
.main-menu{
    flex-grow: 1;
}
.main-menu-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.main-menu-list a{
    font-size: 30px;
    line-height: 41px;
    color: #2A3D8F;
}
.main-menu-list a:hover{
    color: #3893CC;
}
.container{
    margin: 0 auto;
    width: 1100px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
    color: black;
}
.hashtag{
    margin: 0px;
    padding: 0px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-social{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.copyright{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
.social-button{
    margin: 0 10px;
}
.footer-wraper{
    background-color: #B5D4C5;
}
.slogan{
    height: 558px;
    background-image: url(img/innsbruck1.png);
    background-color: #DBE8F7;
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan h1{
    margin: 0;
    padding-top: 240px;
    font-size: 60px;
    line-height: 82px;
    color: #FFF;

}
h2{
    color: #2A3D8F;
    font-size: 36px;
    line-height: 49px;
}
h3{
    font-size: 30px;
    line-height: 41px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.about-numbers-list{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
}
.about-numbers-list li::before{
    content: "✓";
    margin-right: 3px;
}
.marketing{
    display: flex;
    flex-direction: column;
    background-image: url(img/skier.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    width: 30%;
}
.marketing p{
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 2vw;
    line-height: 33px;
}
.marketing a{
    text-transform: uppercase;
    display: inline-block;
    margin-top: 60px;
    padding: 5px 10px;
    background-color: #FFF;
    opacity: 0.7;
    align-self: flex-end;
    color: black;
}
.about-weather-grabph{
    border: 1px solid #C0C0C0;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.about-weather-grabph figcaption{
    font-size: 22px;
    line-height: 33px;
    background-color: rgb(124, 124, 124);
    color: #FFF;
    padding: 5px;
    text-align: center;
}
.gallery-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.gallery-item{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    align-items: center;
    min-height: 256px;
    text-align: center;
    color: white;
    background-color: #B5D4C5;
}
.gallery-item h3{
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 60px;
    width: 400px;
    text-align: center;
}
.transfer{
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
}
.transfer thead{
    background-color: rgb(32, 46, 92);
    color: #FFF;
}
.transfer td, th{
    border: 1px solid #333;
    padding: 5px;
    text-align: center;
}